

.mainCategories_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.mainCategories_cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainCategories_cont h1 {
  margin-right: 32px;
  font-size: 60px;
}
.mainCategories_contLink {
  width: 100%;
  text-decoration: none;
}
.mainCategories_contLine {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: #fff;
  border: none;
}
.mainCategories_contLine:hover {
  background-color: transparent;
}

.mainCategories_contLine p:hover {
  background-color: #ededed;
}
.mainCategories_contLine p {
  font-size: 16px;
  font-weight: 500;
  line-height: 20.16px;
  text-align: center;
  color: #8b8b8b;
  white-space: nowrap;
  width: auto;
  height: auto;
  padding: 8px 16px;
  border: 1px solid #dddddd;
  border-radius: 4px;
}
.mainCategories_line {
  width: 100%;
  border-bottom: 1px solid #dddddd;
}

.mainCategories_flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

@media (max-width: 1200px) {
  .mainCategories_cont h2 {
    font-size: 2.5rem;
  }
  .mainCategories_contLine p {
    font-size: 14px;
    line-height: 20.16px;
    padding: 6px 12px;
    border: 1px solid #dddddd;
    border-radius: 4px;
  }
}

@media (max-width: 922px) {
  .mainCategories_cont h2 {
    font-size: 2rem;
  }
  .mainCategories_flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4%;
  }
}

@media (max-width: 768px) {
 
}

@media (max-width: 576px) {
  .mainCategories_cont h2 {
    font-size: 1.8rem;
  }
  .mainCategories_flex {
    grid-template-columns: repeat(2, 1fr);
    gap: 4%;
  }
  .mainCategories_container {
    gap: 20px;
  }
}

@media (max-width: 480px) {
  .mainCategories_flex {
    grid-template-columns: repeat(1, 1fr);
    gap: 4%;
  }
}


@media (max-width: 390px) {

}