.categories {
  margin: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 106px;
}
.categories_navigation {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.categories_flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.categories_flexBox {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
}
.categories_flexBox a {
    text-decoration: none;
}
.categories_flex h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
}

