.categories {
  margin: 40px;
  display: flex;
  flex-direction: column;
  margin-bottom: 106px;
}
.categories_navigation {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.allProducts_container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.allProducts_flex {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.allProducts_container h2 {
  font-size: 64px;
  font-weight: 700;
  line-height: 70.4px;
  text-align: left;
}

.allProducts_Flex {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 32px;
}

.allProducts_Flex a {
  text-decoration: none;
}
